<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
    <!--<link rel="stylesheet" href="css/bootstrap.min.v4.css">-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="css/bootstrap.min.v311.css">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="StoreController as store">
    <!--Products Container-->
    <div class="list-group">
        <!-- Product Container -->
        <div class="list-group-item" ng-repeat="product in store.products">
            <h3>
                {{ product.name }}
                <em class="pull-right">{{ product.price | currency}}</em>
            </h3>

            <!--Image Gallery-->
            <div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery"> <!-- this helps to check if there are images, if not then the rest will not show -->
                <div class="img-wrap">
                    <img ng-src="{{ product.images[gallery.current] }}" alt="">
                </div>
                <ul class="img-thumbnails clearfix">
                    <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                        <img ng-src="{{ image }}" alt="">
                    </li>
                </ul>
            </div> <!-- end Image Gallery -->

            <!--Tabs-->
            <section class="tab" ng-controller="TabController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{active: panel.isSet(1)}">
                        <a href="" ng-click="panel.setTab(1)">Description</a>
                    </li>
                    <li ng-class="{active: panel.isSet(2)}">
                        <a href="" ng-click="panel.setTab(2)">Specs</a>
                    </li>
                    <li ng-class="{active: panel.isSet(3)}">
                        <a href="" ng-click="panel.setTab(3)">Reviews</a>
                    </li>
                </ul>
                <div ng-show="panel.isSet(1)">
                    <h4>Description</h4>
                    <blockquote>{{ product.description }}</blockquote>
                </div>
                <div ng-show="panel.isSet(2)">
                    <h4>Specs</h4>
                    <blockquote>Shine: {{ product.shine }}</blockquote>
                </div>
                <div ng-show="panel.isSet(3)">
                    <h4>Reviews</h4>
                    <blockquote></blockquote>
                </div>
            </section>
        </div> <!-- end Product container div -->
    </div><!-- end Products container -->

    <!--include scripts-->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>